@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500&display=swap');
*{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
main{
  background-color: #1678d9;
}
section{
  background-color: #1678d9;
  width: 100%;
}
.logo{
  max-width: 188px;
  margin-top: 15px;
}
.navbar{
  justify-content: center;
}
.itens{
  justify-content: space-between;
}
.nav-itens a{
  color: #fff;
  text-decoration: none;
  margin: auto;
  margin-right: 40px;
  font-weight: 600;
  font-size: 17px;
}
.nav-itens a:hover{
  color: #fff;
}
.nav-itens{
  list-style: none;
  display: inline;
  justify-content: space-between;
}
.icones{
  text-align: right;
}
.botoes{
  margin-top: 30px;
  text-align: right;
}
.social a{
  font-size: 1rem;
  background: #10c2ee;
  color:#fff;
  padding: 0.20rem;
  margin-right: 1rem;
  border-radius: 50%;
  transition: 0.3s;
  text-decoration: none;
  display: inline-block;
  width: 30px;
  height: 30px;
  justify-content: center;
  margin: 0;
  padding-right: 6px;
}
.fone{
  align-self: flex-end;
  text-align: right;
}
.links-social{
  align-content: center;
  align-items: center;
}
.conteudo{
  align-content: center;
  align-items: center;
}
.chamada h5{
  color: #80edff;
  font-size: 16px;
  font-weight: 500;
}
.titulo h1{
  color: #fff;
  font-weight: 600;
}
.foto-perfil img{
  align-self: end;
  height: auto;
  max-width: 530px;
  vertical-align: middle;
}
.foto{
  display: flex;
  flex-direction: column;
}
.chamada{
  padding: 20px 40px 0 20px;
}
.button{
  border-radius: 30px 30px 30px 30px;
  height: 3.4rem;
  background-color: #1ec012;
  border: none;
  color: #fff;
  font-weight: 500;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 2rem;
  padding-right: 2rem;
}
.button:hover{
  background-color: #27c8f0;
}
.button-contato{
  border-radius: 30px 30px 30px 30px;
  height: 3.4rem;
  background-color: #0fc3ee;
  font-weight: 500;
  color: #fff;
  border: none;
  padding-left: 2rem;
  padding-right: 2rem;
}
.button-contato:hover{
  background-color: #27c8f0;
}
.subtitle p{
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}